Pandas is open-source Python library which is used for data manipulation and analysis. It consist of data structures and functions to perform efficient operations on data. It is well-suited for working with tabular data such as spreadsheets or SQL tables.

In [1]:
import pandas as pd
import numpy as np

Data Structures in Pandas Library
Pandas provide two data structures for manipulating data which are as follows:

1. Pandas Series
A Pandas Series is one-dimensional labeled array capable of holding data of any type (integer, string, float, Python objects etc.). The axis labels are collectively called indexes.

In [2]:
number_series = pd.Series([2, 3, 4, 5])
print(number_series)

0    2
1    3
2    4
3    5
dtype: int64

In [3]:
number_series = pd.Series([2, 3, 4, 5], index = ['a', 'b', 'c', 'd'], name = 'Number')
print(number_series)

a    2
b    3
c    4
d    5
Name: Number, dtype: int64

In [4]:
print(number_series['c'])  # accessing element with the help of index given by us
print(number_series[3])  # accesing element with the help of index
print(number_series.iloc[1])

4
5
3

C:\Users\Sai\AppData\Local\Temp\ipykernel_33368\895083068.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(number_series[3])  # accesing element with the help of index

2. Pandas DataFrame
Pandas DataFrame is a two-dimensional data structure with labeled axes (rows and columns).

In [5]:
twod_array = np.random.randint(2, 10,(3,4))
twod_array

array([[7, 4, 4, 6],
       [3, 5, 5, 5],
       [6, 9, 4, 3]], dtype=int32)

In [6]:
twod_array = np.random.randint(2, 10,(3,4))
first_dataframe = pd.DataFrame(twod_array, columns =['Akshay', 'Devashish', 'Divy', 'Monika'], index =['a','b','c'])
first_dataframe

   Akshay  Devashish  Divy  Monika
a       9          9     6       9
b       4          6     8       2
c       4          3     4       7

Methods of pandas for data manipulation and analysis

In [7]:
import numpy as np
import pandas as pd

our_array = np.random.randn(100,5)
df = pd.DataFrame(our_array, columns = ['A', 'B', 'C', 'D', 'E'])
df

           A         B         C         D         E
0  -0.214981 -0.896137 -1.494858 -1.006867  0.186491
1  -1.457812  0.867238  1.375263 -0.234961 -0.207065
2  -0.467489 -0.594543 -0.013984  0.207187  0.432406
3   0.544631 -1.474272  1.291829  2.075402  1.567124
4  -0.210659  0.716308 -0.710493  0.777947 -0.395528
..       ...       ...       ...       ...       ...
95  1.166858 -1.410163 -1.854232  0.046685  0.815221
96  0.807456  1.003729 -1.262619  0.878512  2.037490
97  0.544397 -0.165721  1.321783  2.412408  0.847963
98  0.415287  0.121020  0.096471  0.415713 -1.105188
99  0.552017 -0.048614 -0.918200 -1.143727 -1.320679

[100 rows x 5 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       100 non-null    float64
 1   B       100 non-null    float64
 2   C       100 non-null    float64
 3   D       100 non-null    float64
 4   E       100 non-null    float64
dtypes: float64(5)
memory usage: 4.0 KB

In [9]:
df.describe()  #Statistical summary

                A           B           C           D           E
count  100.000000  100.000000  100.000000  100.000000  100.000000
mean     0.040456   -0.014626    0.041429    0.009850    0.077500
std      0.905900    0.847076    1.021794    1.075944    0.939244
min     -1.985892   -2.123246   -1.969839   -3.047010   -1.944879
25%     -0.540453   -0.547898   -0.703587   -0.624073   -0.618487
50%      0.176787    0.026109    0.050245   -0.013288   -0.053736
75%      0.698303    0.702823    0.753537    0.821023    0.812771
max      1.812189    1.504486    2.387897    2.803151    2.037490

In [10]:
df.head() #  by default it prints 5 values
df.head(14)

           A         B         C         D         E
0  -0.214981 -0.896137 -1.494858 -1.006867  0.186491
1  -1.457812  0.867238  1.375263 -0.234961 -0.207065
2  -0.467489 -0.594543 -0.013984  0.207187  0.432406
3   0.544631 -1.474272  1.291829  2.075402  1.567124
4  -0.210659  0.716308 -0.710493  0.777947 -0.395528
5  -0.127712 -0.579083 -1.316967  0.507479 -0.298626
6  -1.891260 -1.065459 -0.480542  0.039016  0.149785
7  -0.574441  1.079259 -0.209399 -0.630303 -0.738439
8   0.185603  0.277765 -0.677301 -0.993797 -0.565975
9  -0.602100 -0.166177 -0.386028 -0.587462  0.344603
10  1.659019 -1.224975  0.982401 -0.125896  0.392983
11 -0.165388  0.217967 -1.406348 -1.459260 -0.086671
12  0.644620  0.989652  1.781638 -0.570913  0.438139
13  0.487214 -0.309582  1.553940 -0.312135 -1.932367

In [11]:
df.tail()  # by default it prints 5 values
df.tail(15)

           A         B         C         D         E
85  0.632025 -1.351451  0.822784  2.260244  1.461549
86  0.652278 -1.851324  0.433465 -0.019379 -0.994972
87  0.072293  0.032473 -0.702474  1.567845 -0.527592
88  0.834227  0.069887 -0.772437  0.352507  1.618053
89  0.273232  0.096917 -0.598195 -2.165984 -0.443054
90  0.909688  0.356612 -0.781115 -0.983971 -1.390380
91  0.793093 -0.082373  0.109561 -2.106893  1.329173
92 -0.020882  0.488010  1.898447  1.246818  0.674782
93 -0.334503 -1.205977 -0.706925 -0.048427  1.194573
94 -0.877432 -0.199527  1.543608  1.017749  1.651508
95  1.166858 -1.410163 -1.854232  0.046685  0.815221
96  0.807456  1.003729 -1.262619  0.878512  2.037490
97  0.544397 -0.165721  1.321783  2.412408  0.847963
98  0.415287  0.121020  0.096471  0.415713 -1.105188
99  0.552017 -0.048614 -0.918200 -1.143727 -1.320679

In [12]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [13]:
df.rename(columns = {'A': "Column1", "E":"Column5"})

     Column1         B         C         D   Column5
0  -0.214981 -0.896137 -1.494858 -1.006867  0.186491
1  -1.457812  0.867238  1.375263 -0.234961 -0.207065
2  -0.467489 -0.594543 -0.013984  0.207187  0.432406
3   0.544631 -1.474272  1.291829  2.075402  1.567124
4  -0.210659  0.716308 -0.710493  0.777947 -0.395528
..       ...       ...       ...       ...       ...
95  1.166858 -1.410163 -1.854232  0.046685  0.815221
96  0.807456  1.003729 -1.262619  0.878512  2.037490
97  0.544397 -0.165721  1.321783  2.412408  0.847963
98  0.415287  0.121020  0.096471  0.415713 -1.105188
99  0.552017 -0.048614 -0.918200 -1.143727 -1.320679

[100 rows x 5 columns]

Loading a csv file

In [14]:
import pandas as pd
import numpy as np
df = pd.read_csv("Iris.csv")

In [15]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [17]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [18]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [19]:
df[["SepalLengthCm","SepalWidthCm","PetalLengthCm"]]

     SepalLengthCm  SepalWidthCm  PetalLengthCm
0              5.1           3.5            1.4
1              4.9           3.0            1.4
2              4.7           3.2            1.3
3              4.6           3.1            1.5
4              5.0           3.6            1.4
..             ...           ...            ...
145            6.7           3.0            5.2
146            6.3           2.5            5.0
147            6.5           3.0            5.2
148            6.2           3.4            5.4
149            5.9           3.0            5.1

[150 rows x 3 columns]

In [20]:
df["Species"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [21]:
# I only want to see the "setosa" records from the dataset(filter)

df[df['Species'] == "Iris-setosa"]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            5.7           3.8            1.7           0.3  Iris-setosa
19  20            5.1           3.8            1.5           0.3  Iris-setosa
20  21            5.4           3.4            1.7           0.2  Iris-setosa
21  22            5.1           3.7            1.5           0.4  Iris-setosa
22  23            4.6           3.6            1.0           0.2  Iris-setosa
23  24            5.1           3.3            1.7           0.5  Iris-setosa
24  25            4.8           3.4            1.9           0.2  Iris-setosa
25  26            5.0           3.0            1.6           0.2  Iris-setosa
26  27            5.0           3.4            1.6           0.4  Iris-setosa
27  28            5.2           3.5            1.5           0.2  Iris-setosa
28  29            5.2           3.4            1.4           0.2  Iris-setosa
29  30            4.7           3.2            1.6           0.2  Iris-setosa
30  31            4.8           3.1            1.6           0.2  Iris-setosa
31  32            5.4           3.4            1.5           0.4  Iris-setosa
32  33            5.2           4.1            1.5           0.1  Iris-setosa
33  34            5.5           4.2            1.4           0.2  Iris-setosa
34  35            4.9           3.1            1.5           0.1  Iris-setosa
35  36            5.0           3.2            1.2           0.2  Iris-setosa
36  37            5.5           3.5            1.3           0.2  Iris-setosa
37  38            4.9           3.1            1.5           0.1  Iris-setosa
38  39            4.4           3.0            1.3           0.2  Iris-setosa
39  40            5.1           3.4            1.5           0.2  Iris-setosa
40  41            5.0           3.5            1.3           0.3  Iris-setosa
41  42            4.5           2.3            1.3           0.3  Iris-setosa
42  43            4.4           3.2            1.3           0.2  Iris-setosa
43  44            5.0           3.5            1.6           0.6  Iris-setosa
44  45            5.1           3.8            1.9           0.4  Iris-setosa
45  46            4.8           3.0            1.4           0.3  Iris-setosa
46  47            5.1           3.8            1.6           0.2  Iris-setosa
47  48            4.6           3.2            1.4           0.2  Iris-setosa
48  49            5.3           3.7            1.5           0.2  Iris-setosa
49  50            5.0           3.3            1.4           0.2  Iris-setosa

In [22]:
# sepal_length >=5 --df
df[df['SepalLengthCm'] >= 5]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
5,6,5.4,3.9,1.7,0.4,Iris-setosa
7,8,5.0,3.4,1.5,0.2,Iris-setosa
10,11,5.4,3.7,1.5,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [23]:
df[df['SepalLengthCm'] >= 5].min()
df[df['SepalLengthCm'] >= 5].max()

Id                          150
SepalLengthCm               7.9
SepalWidthCm                4.4
PetalLengthCm               6.9
PetalWidthCm                2.5
Species          Iris-virginica
dtype: object

In [24]:
df[df['PetalWidthCm'] == 0.4]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
5    6            5.4           3.9            1.7           0.4  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
21  22            5.1           3.7            1.5           0.4  Iris-setosa
26  27            5.0           3.4            1.6           0.4  Iris-setosa
31  32            5.4           3.4            1.5           0.4  Iris-setosa
44  45            5.1           3.8            1.9           0.4  Iris-setosa